.chess{
    width: 260px;
    height: 260px;
    display: flex;
}

.oq{
    width: 30px;
    height: 30px;
    background: bisque;
    border: 1px solid white;
}

.qora{
    width: 30px;
    height: 30px;
    background: rgba(44, 38, 38, 0.678);
    border: 1px solid white;
}

.sonlar{
    width: 10px;
    height: 30px;
}